* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --grigio: rgba(165, 165, 165, 0.767);
}
.grey {
    color:#8c8c8c ;
}

body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    background: url("netflixBackground.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  
}

.sfondo-nero {
    background-color: rgba(0, 0, 0, 0.4);
    min-height: 100vh;
}


/*  LOGO     */

.navbar {
    padding: 1.2rem 2.5rem;
    margin-bottom: -20px ;
    left: 0;
    top: 0;
    width: 100%;
    height: 90px;
    z-index: 2;
    
}

.logo {
   width: 180px; 
}


/*  PARTE CENTRALE      */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.login-card {
    padding: 60px 68px 40px;
    background-color: rgba(0, 0, 0, 0.8);
    max-width: 30%;
    border-radius: 5px;
    margin-bottom: 90px;
    

    


}

h1{
    margin: 0 0 28px 0px;
    font-size: 32px;
    letter-spacing: 1px;
    font-weight: 700;
}


.row {
    display: flex;
    margin-top: 1rem;     /* ??? */
    margin-bottom: 1rem;
    height: 100%;

}


.input {
    height: 50px;
    display: flex;
    width: 100%;
    border-radius: 5px;
    border: none;
    margin-bottom: 16px;
    background-color: #333 ;
    font-size: 16px;
    display: block;
    padding-left: 20px ;
}

button {
    width: 100%;
    background-color: #e50914;;
    color: white;
    height: 50px;
    font-size: 16px ;
    font-weight: 600;
    margin-top: 20px;
    border-radius: 5px;
}


.link {
    text-decoration: none;
    color: #8c8c8c;
}

.recaptcha {
    font-size: 13px;
    margin-top: 11px;
    padding-bottom: 6rem;
}

.justify-between {
    display: flex;
    justify-content: space-between;
    font-size: 13.5px;
}


.login-form-1 {
    padding-bottom: 5rem;
}




/*  FOOTER  */ 
footer {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    
    margin: 0 auto;
    padding-bottom: 20px;
  
    
}

.footer-container {
    padding: 30px 0;
    width: 65%;
    margin: auto;
}

.footer-flex {
 
  
 
  display: flex;
  flex-wrap: wrap;
  font-size: 13px;

}

.footer-links {
    display: inline-block;
    margin-bottom: 16px;
    width: 20%;
    margin-right: 45px;

    
  
}
.footer-links:hover {
    text-decoration: underline;
   
}

.footer-a {
    text-decoration: none;
    color: var(--grigio);
}

.p-footer {
    margin: 0 0 30px;
    
    width: 90%;

}
.footer-flex {
    margin-bottom: 25px;
}
.custom-select {
    position: relative;
    font-family: 'Roboto', sans-serif;
  }


  .footer-button {
    background-color: rgb(3, 3, 3);
    color: var(--grigio);
    
    padding: 13px 13px 13px 35px;
    border: 1px solid var(--grigio);
  }
  






  @media screen and (max-width: 440px), screen and (orientation: landscape) and (max-width: 700px) {
    body {
        background-image: none;
        background-color: #000;
    }
    .navbar {
        padding: 20px 0 0 10px;
    }
   .navbar .logo {
    height: 25px;
    width: 75px;
    
  }
  .login-card {
      padding: 0 20px;
      width: 90%;
  }
  .row {
      margin-top: 0;
  }
  button {
      margin-top:25px;
      border: none;
      margin-bottom: 15px;
  }
  .justify-between {
      font-size: 15px;
      color: rgb(177, 177, 177);
  }
  .link {
    color: rgb(177, 177, 177);
  }
  .login-form-1 {
    padding-bottom: 1rem;
}
.recaptcha {
    font-size: 14px;
    color: #8C8C8C;
    padding-bottom: 3rem;
}
footer {
   
    border-top: 1px solid #8c8c8c;
}
.footer-container {
    padding: 30px 0;
    width: 100%;
    margin-left: 18px;
}
.footer-links {
    display: inline-block;
    margin-bottom: 16px;
    width: 37%;

}
}


@media only screen and (max-width: 740px)
 {  .login-card {
    min-height: 100%;
    min-width: 100%;
 }
}

@media only screen and (min-width: 740px)
 {  .login-card {
    max-width: 450px;
 
 }
}